@import 'global';

$color-text: darken($color-darkgray, 20);

.settings {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  position: relative;
  align-items: center;
}
.notification {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  width: 30rem;
  top: -6rem;
  left: calc(50% - 15rem);
  text-align: center;
  vertical-align: middle;
  color: $color-text;
  font-weight: 400;
  font-size: 2rem;
}
.settings-windows {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3rem;
}
.settings-window {
  background-color: $color-white;
  box-shadow: $shadow;
  border-radius: $border-radius;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.settings-multiple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-item {
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
.item-name {
  color: $color-text;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.item-input {
  width: 100%;
  color: $color-main;
  border-bottom: 2px solid $color-darkgray;
  background-color: $color-white;
  font-size: 1.6rem;
  font-weight: 400;
}
.item-description {
  border: 1px solid $color-darkgray;
  outline: none;
  resize: none;
  padding: 1rem;
}
.item-required {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  color: $color-main;
  font-size: 3rem;
}
.item-tooltip {
  position: absolute;
  bottom: -4rem;
  font-style: italic;
  left: 0;
  color: $color-darkgray;
  font-size: 1.4rem;
}
.input-required {
  border-color: $color-main;
}
.item-warn {
  color: #E74949;
}
.item-warn ~ .input-required {
  border-color: #E74949;
}
.item-warn ~ .item-required {
  color: #E74949;
}
.card-background {
  flex: 3;
  padding-bottom: 0;
  .settings-item {
    align-self: stretch;
  }
}
.item-background {
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem;
}
.item-line {
  display: flex;
  margin-bottom: 3rem;
}
.item-nav {
  justify-content: center;
}
.nav-point {
  width: 2rem;
  height: 2rem;
  background-color: $color-darkgray;
  border-radius: 50%;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}
.point-active {
  background-color: $color-main;
}
