// colors

$color-main: #6543DD;
$color-white: #F7F7F7;
$color-dark: #383838;
$color-gray: #C0C0C0;
$color-darkgray: #4B4B4B;

$shadow: 0px 8px 22px rgba(0, 0, 0, 0.4);
$border-radius: 3px;

.btn {
  width: 16rem;
  height: 4rem;
  background-color: $color-main;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  font-size: 1.4rem;
  text-transform: uppercase;
  box-shadow: 0px 6px 10px rgba(101, 67, 221, 0.3);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 6px 10px rgba(101, 67, 221, 0.5);
  }
}
